

<div id="about" class="relative bg-white overflow-hidden mt-5 lg:mt-16">
  <div class="max-w-7xl mx-auto">
    <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
      <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
           fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg>

      <div class="pt-1"></div>
      <%= image_tag('zoe.jpg',  class: "object-cover object-top block lg:hidden rounded-full shadow-xl mx-auto mt-5 h-60 w-60 bg-cover bg-center")%>
      <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
          <h1 class="text-3xl font-bold pt-8 lg:pt-0">Zoe Larsen</h1>
          <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
          <p class="pt-4 text-base font-bold flex lg:justify-start"><svg class="h-4 fill-current text-purple-600 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"/></svg> Software engineer, Explorer of self </p>
          <p class="pt-2 text-gray-600 text-xs lg:text-sm flex lg:justify-start"><svg class="h-4 fill-current text-purple-600 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm7.75-8a8.01 8.01 0 0 0 0-4h-3.82a28.81 28.81 0 0 1 0 4h3.82zm-.82 2h-3.22a14.44 14.44 0 0 1-.95 3.51A8.03 8.03 0 0 0 16.93 14zm-8.85-2h3.84a24.61 24.61 0 0 0 0-4H8.08a24.61 24.61 0 0 0 0 4zm.25 2c.41 2.4 1.13 4 1.67 4s1.26-1.6 1.67-4H8.33zm-6.08-2h3.82a28.81 28.81 0 0 1 0-4H2.25a8.01 8.01 0 0 0 0 4zm.82 2a8.03 8.03 0 0 0 4.17 3.51c-.42-.96-.74-2.16-.95-3.51H3.07zm13.86-8a8.03 8.03 0 0 0-4.17-3.51c.42.96.74 2.16.95 3.51h3.22zm-8.6 0h3.34c-.41-2.4-1.13-4-1.67-4S8.74 3.6 8.33 6zM3.07 6h3.22c.2-1.35.53-2.55.95-3.51A8.03 8.03 0 0 0 3.07 6z"/></svg> Where I am at now: Philly</p>
          <p class="hidden lg:block mt-5">

            Hey Hey, I'm Zoe! I'm a software developer who took off from my job to
            <br>
            travel the world. That doesn't mean I stopped programing though! Now I
            <br>
            focus on small projects with colleagues and explore concepts that catch my
            <br>
            interest and help me grow as a developer.
            <br>
            <br>
            I created this blog from scratch to document my time exploring the globe
            <br>
            and the realms of code. I'm interested in <a class="text-purple-600 hover:text-purple-700" href="https://ar.al/2020/08/07/what-is-the-small-web/">small web endeavours</a> so that's a
            <br>
            big reason why I created this little slice of internet.
          </p>

          <p class="lg:hidden block mt-5">

            Hey Hey, I'm Zoe! I'm a software developer who took off from my job to
            travel the world
            <br>
            <br>
            That doesn't mean I stopped programing though! Now I focus on small
            projects with colleagues and explore concepts that catch my
            interest and help me grow as a developer.
            <br>
            <br>
            I created this blog from scratch to document my time exploring the globe
            and the realms of code. I'm interested in <a class="text-purple-600 hover:text-purple-700" href="https://ar.al/2020/08/07/what-is-the-small-web/">small web endeavours</a> so that's a
            big reason why I created this little slice of internet.
          </p>

          <div class="mt-10 lg:pb-0 w-4/5 lg:w-full flex flex-wrap">
            <a class="link" href="https://github.com/zlarsen-zl" data-tippy-content="@github_handle"><svg class="lg:justify-start mt-3 h-6 fill-current text-purple-600 hover:text-purple-700" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg></a>
            <a class="link" href="https://www.linkedin.com/in/zoelarsen/" data-tippy-content="@linkedIn handle"><svg class="ml-5 lg:justify-start mt-3 h-6 fill-current text-purple-600 hover:text-purple-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"><title>LinkedIn</title></path></svg></a>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <%= image_tag('zoe.jpg', class:"h-screem w-full object-cover hidden lg:block object-top sm:h-72 md:h-96 lg:w-full lg:h-full")  %>
  </div>
</div>