<nav class="flex border-b border-gray-100 text-sm font-semibold font-medium mt-5 lg:ml-96">
  <a href="" class="-mb-px border-b border-transparent p-2 hover:text-cyan-500">
    <%= link_to 'Travel', blog_posts_path(tag: :travel) %>
  </a>

  <a href="" class="-mb-px border-b border-transparent p-2 hover:text-cyan-500">
    <%= link_to 'Code', blog_posts_path(tag: :code) %>
  </a>

  <a href="" class="-mb-px border-b border-transparent p-2 hover:text-cyan-500">
    <%= link_to 'Food', blog_posts_path(tag: :food) %>
  </a>

  <a href="" class="-mb-px border-b border-transparent p-2 hover:text-cyan-500">
    <%= link_to 'Offbeat', blog_posts_path(tag: :offbeat) %>
  </a>
</nav>