<header
  class="sm:flex sm:justify-between sm:px-4 sm:py-1 sm:items-center bg-white"
  data-controller="navbar" data-navbar-state-value="false">
  <div class="flex justify-between px-4 py-1 sm:p-0 items-center">
    <div class="font-bold text-xl font-mono text-zinc-800">
      Wandering Wits
    </div>
    <div class="sm:hidden">
      <button class="text-zinc-800 focus:outline-none block"
              type="button"
              data-action="click->navbar#toggle" >
        <span class="sr-only">Open main menu</span>
        <svg class="h-8 w-8 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path data-navbar-target="x"    stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" class="hidden" />
          <path data-navbar-target="bars" stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
  </div>
  <div class="hidden sm:flex px-2 pt-2 pb-4 sm:pb-2" data-navbar-target="menu">
    <% if user_signed_in? %>
      <a href=<%= new_blog_post_path%> class="block text-zinc-800 font-semibold hover:text-purple-500 rounded px-2 py-1">New Blog Post</a>
      <a href=<%= edit_user_registration_path%> class="block text-zinc-800 font-semibold hover:text-purple-500 rounded px-2 py-1 mt-1 sm:mt-0 sm:ml-2">Profile</a>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "block text-zinc-800 font-semibold hover:text-purple-500 rounded px-2 py-1 mt-1 sm:mt-0 sm:ml-2" %>
    <% else %>
      <a href="/" class="block text-zinc-800 font-semibold hover:text-purple-500 rounded px-2 py-1">Home</a>
      <a href=<%= landing_page_about_me_path %> class="block text-zinc-800 font-semibold hover:text-purple-500 rounded px-2 py-1 mt-1 sm:mt-0 sm:ml-2">About Me</a>
<!--      <a href="/" class="block text-zinc-800 font-semibold hover:text-purple-500 rounded px-2 py-1 mt-1 sm:mt-0 sm:ml-2">Cool Stuff</a>-->
    <% end %>
  </div>
</header>